mixin about
    section(class='about m-t-2 p-t-4 p-b-4') 
        .container
            div(class='row gap-1 first-row p-b-5')
                div(class='col-xs-12 col-lg-6 justify-center') 
                    div(class='img-content')
                        img(src='assets/img/app_preview_2.png')
                div(class='col-xs-12 col-lg-6')
                    div(class='row gap-1')
                        div(class='col-xs-12')
                            div(class='content-first-row')
                                <i class='bx bx-cube' style='background-color:#E89E09'></i>
                                div
                                    h5 Powerful Features
                                    p Lorem ipsum dolor sit amet, 
                                      |  consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                      |  invidunt ut labore et dolore
                        div(class='col-xs-12')
                             div(class='content-first-row')
                                <i class='bx bxs-shield-alt-2'style='background-color:#4699F8'></i>
                                div
                                    h5 Fully Secured
                                    p Lorem ipsum dolor sit amet, 
                                      |  consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                      |  invidunt ut labore et dolore
                        div(class='col-xs-12')
                            div(class='content-first-row')
                                <i class='bx bx-desktop' style='background-color:#602FDA'></i>
                                div
                                    h5 Easy Monitoring
                                    p Lorem ipsum dolor sit amet, 
                                        |  consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                                        |  invidunt ut labore et dolore
            

            // start second row
            div(class='row gap-1 first-row p-t-5')
                
                div(class='col-xs-12 col-lg-6')
                    div(class='content-second-row') 
                        h4(class='f-regular f-xxl m-b-2') Ecommerce business opperate easilly
                        p(class='m-b-2') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, molestiae, perspiciatis laboriosam quia placeat recusandae repudiandae corrupti similique delectus, aliquam commodi possimus eveniet optio magnam quis vel. Reiciendis, fuga excepturi.
                        button(class='b-radius-lg p-t-1 p-b-1 p-l-2 p-r-2 f-md') Download now
                div(class='col-xs-12 col-lg-6 justify-center') 
                    div(class='img-content')
                        img(src='assets/img/app_preview_3.png')