mixin contact
    section(class='contact p-t-4 p-b-4')
        .container
            div(class='row gap-2')
                div(class='col-xs-12 col-lg-6')
                    div(class='img-content m-t-5')
                        img(src='assets/img/illustration_contact.svg')
                div(class='col-xs-12 col-lg-6 right')
                    h2(class='f-xxl f-regular') Need a help?<br/> Don't worry<br/> just contact us
                    form(class='form')
                        div(class='input-control m-t-2 m-b-2')
                            label(class='m-b-1') Fullname
                            input(type='text' class='b-radius-sm p-1')
                        div(class='input-control m-t-2 m-b-2')
                            label(class='m-b-1') Email
                            input(type='text' class='b-radius-sm p-1')
                        div(class='input-control m-t-2 m-b-2')
                            label(class='m-b-1') Message
                            textarea(rows='6' class='b-radius-sm p-1')
                        
                        input(type='submit' value='Submit Message' class='b-radius-sm p-t-1 p-b-1 p-l-2 p-r-2 f-lg')
                        