mixin customerStories
    section(class='customerStories ')
        .overlay
        div(class='container data p-t-5 p-b-5')
            h2(class='m-b-2 f-bold f-xl') Customer Stories
            p(class='m-b-2 m-t-2 f-bold') Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                | Mollitia voluptates facere explicabo! Rerum necessitatibus cum qui veritatis reprehenderit, 
                | neque sapiente consequatur atque eaque molestias, est, quod totam quo laudantium ratione.
                
            p(class='sadek m-b-2') ahmed sadek, front end developer
            button(class='b-radius-md p-t-1 p-b-1 p-l-2 p-r-2 f-md') Read Stories <i class='bx bx-right-arrow'></i>
            