mixin footer
    footer(class='p-t-5 p-b-1')
        .container
            div(class='row gap-1')
                div(class='col-xs-12 col-sm-6 col-lg-3')
                    div(class='content')
                        h3 Pages
                        a( href='#') Features
                        a( href='#') Customers
                        a( href='#') Pricing
                        a( href='#') GDPR
                div(class='col-xs-12 col-sm-6 col-lg-3')
                    div(class='content')
                        h3 Company
                        a( href='#') About
                        a( href='#') Team
                        a( href='#') Leadership
                        a( href='#') Careers
                        a( href='#') HIRING!
                div(class='col-xs-12 col-sm-6 col-lg-3')
                    div(class='content')
                        h3 Contact
                        a( href='#') Contact Us
                        a( href='#') Office Location
                        a( href='#') hello@mobster.com
                        a( href='#') support@macodeid.com
                        a( href='#') +808 11233 900
                div(class='col-xs-12 col-sm-6 col-md-12 col-lg-3')
                    div(class='subscribe')
                        h3 Subscribe
                        p(class='f-md') Get some offers, news, or update features of application
                        form(class='m-t-1 m-b-1')
                            input(class=' p-1' placeholder='your email')
                            button(type='submit') <i class='bx bxs-right-arrow-square'></i>
                        div(class='content2')
                            a( href='#') <i class='bx bxl-facebook-square'></i>
                            a( href='#') <i class='bx bxl-twitter' ></i>
                            a( href='#') <i class='bx bxl-instagram-alt' ></i>
                            a( href='#') <i class='bx bxl-google' ></i>
                
                div(class='col-xs-12 text-center')
                    | Copyright © <a style='color: #bc648c' target='_blank' href='https://ahmed-sadek89.github.io/s-a-d-e-k/'>S A D E K</a> All rights reserved


