mixin home1Info
    section(class='info bg-1 p-t-5 ')
        div(class='container p-t-5 p-b-1')
            div(class='row gap-1')
                div(class='col-xs-12 col-lg-6 ')
                    p(class='p1') <i class='bx bx-globe'></i> #2 Editor Choice App of 2020
                    h4(class='f-xxl f-regular m-t-1 m-b-1') Manage your <br/>Finance easier
                    p(class='p2 m-t-2 m-b-2') Mobster has features to view and manage<br/> our finances, such as transfer, and statistics.
                    button(class='b-radius-lg p-t-1 p-b-1 p-l-2 p-r-2 f-md') Get App Now
                div(class='col-xs-12 col-lg-6')
                    div(class='img-content')
                        img(src='assets/img/app_preview_1.png')
